<div class="well">
  <% if flash(:message) %>
    <h4 class="text-danger"><%= flash[:message] %></h4>
  <% end %>
  
  <h2><%= @oil.name %> Oil <a href="/oils/<%= @oil.id %>/edit" class="btn btn-default" role="button">Edit</a></h2>
  <h4>Benefits:</h4>
  <ol>
    <% @oil.benefits.split(", ").each do |benefit| %>
      <li><%= benefit %></li>
    <% end %>
  </ol>

  <form method="POST" action="/oils/<%= @oil.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Oil">
  </form>
</div>