<h2>Welcome to Oils of Joy</h2>

<h3>Product List</h3>
<% @products.each do |product| %>
    <h4 style="margin-left:2em">
      <a href="/products/<%= product.id %>"><%= product.name %></a> 
      (<%= product.product_type %>)
    </h4>
    
  <% product.oils.each do |oil|%>
    <ul>
      <li style="margin-left:2em"><a href="/oils/<%= oil.id %>"><%= oil.name %></a></li>
    </ul>
  <% end %>
<% end %>